tsting vars

/* CSS Variables */
:root {
  --main-theme-color: #484140;
  --main-equal-padding-container: 0 13px;
}

/* main fixed header - primary header container */
.mfh-phc {
 height: 55px;
 width: 100%;
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 background-color: #272524;
 box-shadow: 1px 5px 6px 0 rgba(32, 33, 36, 0.28);
 z-index: 104;
}

/* main fixed header - primary header */
.mfh-ph {
 position: relative;
 height: 100%;
 padding: var(--main-equal-padding-container);
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

/* main fixed header - primary header - left */
/* main fixed header - primary header - right */
.mfh-ph-left, .mfh-ph-right {
  display: flex;
  flex-direction: row;
}

/* menu button */
.menu-button {
  position: relative;
  width: 20px;
  padding: 0; /* takes away the default padding it has for some reason */
  border: none;
  background-color: transparent; /* Forces the background color to be transparent */
  cursor: pointer;
  line-height: 1; /* do I need this? */
}

/* menu button top line */
.menu-button::before {
  content: "";
  position: absolute;
  top: 5px;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  pointer-events: none; /* do I need this? */
}

/* menu button middle line */
.mbml {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  pointer-events: none; /* do I need this? */
}

/* menu button bottom line */
.menu-button::after {
  content: "";
  position: absolute;
  top: 17px;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  pointer-events: none; /* do I need this? */
}

/* search icon SVG */
.search-icon {
  width: 25px; /* width of svg viewport that overrides the svg width attribute */
  height: 25px; /* height of svg viewport that overrides the svg height attribute */
  stroke: white;
  stroke-width: 1px;
  flex-shrink: 0;
  fill: white;
}

/* main fixed header - desktop main sections navigation */
.mfh-dmsn {
  display: flex;
  display: none;
}

/* main fixed header - desktop main sections navigation - link */
.mfh-dmsn-link {
  text-decoration: none;
  color: #9b9b9b;
  padding-left: 30px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.mfh-dmsn-link:hover {
  color: white;
}

/* main fixed header - secondary header container */
.mfh-shc {
 display: none;
 height: 43px;
 width: 100%;
 box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.5);
 background-color: white; /* Giving it a value of inherit gives it a background color of transparent because its parent, the header tag, has a background color of transparent. So I have to explicitly define a background color of white */
}

/* main fixed header - secondary header */
.mfh-sh {
  position: relative;
  height: 100%;
}

/* main fixed mobile menu - opacity background */
.mfmm-ob {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 1000;
}

/* main fixed mobile menu - side bar container */
.mfmm-sbc {
  position: relative;
  width: 300px;
  height: 100%;
  background-color: white;
}

/* main fixed mobile menu - side bar */
.mfmm-sb {
  height: 100%;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* mobile main sections navigation */
.mmsn {
  font-size: 22px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding-bottom: 15px;
  font-family: "Trebuchet MS";
}

/* mobile main sections navigation - link */
.mmsn-link {
  text-decoration: none;
  color: var(--main-theme-color);
}

/* log in sign in - opacity background */
.lisi-ob {

}

/* main fixed audio player */
.mfap {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 104; /* */
  background-color: inherit;
}

/* main fixed audio player - base container */
.mfap-bc {
  height: 65px;
  width: 100%;
  background-color: white;
  border-top: 4px solid var(--main-theme-color);
  z-index: ;
}

/* main fixed audio player - base */
.mfap-b {
  position: relative;
  height: 100%;
  padding: var(--main-equal-padding-container);
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* main fixed audio player - extended container */
.mfap-ec {
  height: 270px;
  width: 100%;
  background-color: inherit;
  display: none;
  border-top: 1px solid black;
}

/* main fixed audio player - extended */
.mfap-e {
  position: relative;
  height: 100%;
  padding: var(--main-equal-padding-container);
  overflow-y: scroll;
}

/* page content container */
.pcc {
  width: 100%;
  background-color: inherit;
}

/* page content */
.pc {
  height: 100%;
  padding: 75px 0 10px 13px; /* top - right - bottom - left */
}

/* genres navigation panel */
.gnp {
  display: none;
  width: 170px;
  flex-shrink: 0;
}

/* all music release boxes */
.amrb {
  width: 100%;
}

/* featured music release box */
.fmrb {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* secondary music release box */
.smrb {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* music release */
.music-release {
  width: calc(100% / 2); /* 50% */
  padding-right: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}

.fmr3, .fmr4, .fmr5, .fmr6, .fmr7 {
  display: none;
}

/* music release - cover art placeholder */
.mr-cap {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  background-color: lightgrey;
}
/* music release - cover art */
.mr-ca {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* featured releases caroussel boxes */
.frcb {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  flex-grow: 1;
}

/* carousel - box */
.c-box {
  flex: 1 1 0px;
  height: 5px;
  margin: 0 2px;
  display: inline-block;
  background-color: #d3d3d3;
  cursor: pointer;
}

/* carousel box:hover */
.c-box:hover {
  background-color: grey;
}

.smrb .music-release {
  margin-bottom: 80px;
}

.gnp ul li {
  font-weight: bold;
  font-family: Arial;
}

/* beginning of media queries */

/* on screens that are 480px or more */
@media screen and (min-width: 475px) {

  .music-release {
    width: 33.33% !important ;
  }

  .fmr3 {
    display: block;
  }
}

/* on screens that are 480px or more */
@media screen and (min-width: 630px) {

  .music-release {
    width: 25% !important ;
  }

  .fmr4 {
    display: block;
  }
}

/* on screens that are 480px or more */
@media screen and (min-width: 1040px) {

  /* main fixed header - desktop main sections navigation */
  .mfh-dmsn {
    display: block;
  }

  .music-release {
    width: 16.66% !important;
  }

  .fmr5, .fmr6  {
    display: block;
  }

  .menu-button {
    display: none;
  }

  /* genres navigation pannel */
  .gnp {
    display: block;
  }

  /* page content - flex */
  .pc-flex {
    display: flex;
  }
}
