/* Section 1, Section 2, Section 3, Section 4 */
.section {
  margin-bottom: 40px;
}

#section-two .section-item,
#section-three .section-item
 {
  margin-bottom: 30px;

}

/* flex-container */
.section-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ^ flex-items */
.section-item {
  width: calc((100% - 16px) / 2  );
}

.release-info {
  margin-top: 5px;
}

.section-item p {
  font-family: Verdana;
  font-size: 16px;
}

/* Hide Section 1 items --> 3 and over  */
#sic-one :nth-child(n+3) {
  display: none;
}

/* Hide Section 2, Section 3 items --> 7 and over  */
#sic-two :nth-child(n+5),
#sic-three :nth-child(n+5) {
  display: none;
}
#sic-four :nth-child(n+5) {
  display: none;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 100;
}

.si-cover-art-holder {
  height: 0;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: lightgrey;

}


 img {
   position: absolute;
   width: 100%;
  /* height: auto; ??? */
}
/* ^ If a width is not given to the img, it will be rendered as its intrisic size. */

/* */
.row {
  display: flex;
  flex-direction: row; /* default flex-direction */
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 15px;
  font-family: "Trebuchet MS", sans-serif;
}

.row-item {
  margin-right: var(--row-item-margin-right);
  margin-bottom: 50px;
  width: calc((100% - 20px) / 2);
}

.row-item:nth-of-type(2n) {
  margin-right: 0;
}

/* row item --> release cover art holder */
.ri-rcah {
  background-color: lightgrey;
  width: 100%;
  height: 190px;
  border-radius: 4px;

}

.ri-rmi {
  margin-top: 9px;
  font-size: 16px;
  margin-left: 5px;
}

a:hover {
  text-decoration: underline;
}

#row-one .row-item:nth-child(n+3) {
  display: none;
}

.row .row-item:nth-child(n+5) {
  display: none;
}
