.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-item {
  width: 50%;
}

.si-cover-art-holder {
  height: 0;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: lightgrey;

}

/* ^I need to make this a 1:1 grey square with same height as width */

 img {
   position: absolute;
   width: 100%;
   display:
  /* height: auto; ??? */
}
/* ^ If a width is not given to the img, it will be rendered as its intrisic size. */

/* */
.row {
  display: flex;
  flex-direction: row; /* default flex-direction */
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 15px;
  font-family: "Trebuchet MS", sans-serif;
}

.row-item {
  margin-right: var(--row-item-margin-right);
  margin-bottom: 50px;
  width: calc((100% - 20px) / 2);
}

.row-item:nth-of-type(2n) {
  margin-right: 0;
}

/* row item --> release cover art holder */
.ri-rcah {
  background-color: lightgrey;
  width: 100%;
  height: 190px;
  border-radius: 4px;

}

.ri-rmi {
  margin-top: 9px;
  font-size: 16px;
  margin-left: 5px;
}

a:hover {
  text-decoration: underline;
}

#row-one .row-item:nth-child(n+3) {
  display: none;
}

.row .row-item:nth-child(n+5) {
  display: none;
}
