a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt,
em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li,
mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
  font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
 display: block;
}

ol, ul {
 list-style: none;
}

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
 content: "";
 content: none;
}

*, *:before, *:after {
 box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}

img {
  /* max-width: 100%; */
  display: block;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {

  font-family: "Interstate",Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

h1 {
  font-size: 22px;
}

/* ======================================================== */
/* DO I NEED THIS??? */

b, strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari. */
}

progress {
  vertical-align: baseline; /* Add the correct vertical alignment in Chrome, Firefox, and Opera. */
}

img {
  border-style: none; /* Remove the border on images inside links in IE 10. */
}

embed, iframe, object, video {
  max-width: 100%;
  display: block;
}

/* Different browsers style the borders for forms elements and buttons differently, so it is best
to declare the following: */
input, textarea, button {
  border: 1px solid grey;
}

/* Browsers don't inherit typography for forms and buttons, so I'll make them inherit from their ancestor elements. */
input, textarea, button, select {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

svg {
  pointer-events: none;
  display: block;
}

/* ======================================================== */
/* Internet Explorer */

template {
  display: none; /* Add the correct display in IE. */
}

[hidden] {
  display: none; /* Add the correct display in IE 10. */
}

audio, video {
  display: inline-block; /* Add the correct display in IE 9-. */
}

html {
  -ms-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in IE on Windows phone. */
}

textarea {
  overflow: auto; /* Remove the default vertical scrollbar in IE 10+. */
}
