a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt,
em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li,
mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0; /* Takes away any default margin set by the user agent and resets/overrides it to 0. */
  padding: 0; /* Takes away any default padding set by the user agent and resets/overrides it to 0. */
  border: 0; /* Takes away any default border set by the user agent and resets/overrides it to 0. */
  outline: 0; /* Takes away any default outline set by the user agent and resets/overrides it to 0. */
  vertical-align: baseline; /* Makes sure the vertical-align is set to the default value of baseline. */
  background: transparent; /* Makes sure the background is set to the default value of transparent. */
  font-size: 100%; /* Makes sure the font-size is set to the default value of 100% (100% = 1em = 1rem = 16px = 12pt). */
  font: inherit; /* Makes sure the font is inherited by the child elements. */
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
 display: block; /* Makes sure the display property of these new HTML5 elements have a value of block so they can behave as intended on some older browsers. */
}

/* Correct `block` display not defined for any HTML5 element in IE 8/9. */
/* Correct `block` display not defined for `details` or `summary` in IE 10/11. */
/* Correct `block` display not defined for `main` in IE 11. */

ol, ul {
 list-style: none; /* Removes the bullets added by the user agent from all unordered lists (<ul>). */
}

/* list-style is the shorthand to set list-style-type, list-style-position and list-style-image properties all in one declaration. */

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
 content: "";
 content: none;
}

*, *:before, *:after {
 box-sizing: inherit;
}

b, strong {
 font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari. */
}

textarea {
 overflow: auto; /* Remove the default vertical scrollbar in IE 10+. */
}

img {
  border-style: none; /* Remove the border on images inside links in IE 10. */
  max-width: 100%;
  display: block;
}

embed, iframe, object, video {
  max-width: 100%;
  display: block;
}

/* Different browsers style the borders for forms elements and buttons differently, so it is best to declare the following: */
input, textarea, button {
  border: 1px solid grey;
}

/* Browsers don’t inherit typography for forms and buttons, so I'll make them inherit from their ancestor elements. */
input, textarea, select, button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

template {
  display: none; /* Add the correct display in IE. */
}

[hidden] {
  display: none; /* Add the correct display in IE 10. */
}

progress {
  vertical-align: baseline; /* Add the correct vertical alignment in Chrome, Firefox, and Opera. */
}

html {
 box-sizing: border-box;
 cursor: default; /* Use the default cursor in all browsers. */
 line-height: 1.15; /* Correct the line height in all browsers. */
 -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
 -ms-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in IE on Windows phone. */
 word-break: break-word; /* Breaks words to prevent overflow in all browsers. */
 height: 100%; /* do I neeed this? */
}

/* The word-break CSS property sets whether line breaks appear wherever the text would otherwise overflow its content box. */


audio, video {
  display: inline-block; /* Add the correct display in IE 9-. */
}

/* h1 to h6 */
h1, h2, h3, h4, h5, h6 {
  font-family: ;
  line-height: 1;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS";
}

h4 {
  font-size: 16px;
  font-family: "Trebuchet MS";
  font-weight: bold;
  color: grey;
}

h5 {
  font-size: 16px;
  font-family: "Trebuchet MS";
  line-height: 1.15;
  padding-top: 5px;
  font-weight: bold;
}

h6 {
  font-size: 13px;
  font-family: "Trebuchet MS";
  line-height: 1.15;
  padding-top: 2px;
  color: grey;
  font-weight: bold;
}

body {
 background-color: white;
 font-size: 14px;
 font-family: ;
 color: #333;
 overflow-x: hidden;
 overflow-y: scroll;
 min-width: 320px;
}

svg {
  pointer-events: none;
  display: block;
}

a {
  text-decoration: none;
}

/*
The svg element here has display: inline, thus is treated like text. It thus also observes the line-height property which controls how much extra vertical space each line gets. For readability reasons we don't cram lines directly together.
Switching to display: block on the svg makes the div fit exactly, as does setting line-height: 0 on the div.
 */
